{{ define "Static/apps-invoice.html" }}
<html>

<head>
    <meta charset="utf-8">
    <title>ShareFish-订单详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="../share/static/js/public.js"></script>
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="../share/assets/css/style.css">
    <link rel="stylesheet" href="../share/assets/css/bootstrap.min.css">

    <!-- App css -->
    <link href="../share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../share/static/css/app.min.css" rel="stylesheet" type="text/css">

</head>

<body id="body" class="dark-sidebar">

    <header>
        <div class="header-wrapper border-bottom">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
                            返回</a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="header-search">
                            <div class="input-group">
                                <h4 style="padding-top: 17px;">订单详情</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <!-- header menu trigger -->
                        <button class="header-menu-trigger" id="header-menu-trigger">
                            <i class="fas fa-align-right" style="font-size: 20px;
                                color: grey;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {{ template "Static/menu.html" . }}

    <div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content-tab">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="card">
                           

                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">                      
                                                <!-- <h4 class="card-title">Order Summary</h4>                       -->
                                            </div><!--end col-->                                        
                                        </div>  <!--end row-->                                  
                                    </div><!--end card-header-->
                                    <div class="card-body">
                                        <div class="table-responsive shopping-cart">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th style="padding: 12px;">商品id</th>
                                                        <th style="padding: 12px;">商品名称</th>
                                                        <th style="padding: 12px;">交易编号</th>
                                                        <th style="padding: 12px;">每日租金</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            {{.id}}
                                                        </td>
                                                        <td>
                                                            {{range $k,$v:=.goodImg}}
                                                            <img src=../{{$v}} alt="" height="40">
                                                            {{end}}
                                                            <p class="d-inline-block align-middle mb-0 product-name">
                                                                {{.name}}</p>
                                                        </td>
                                                        <td>
                                                            {{.OId}}
                                                        </td>
                                                        <td>{{.rent}}ETH</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div><!--end re-table-->
                                      
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end col-->
                            <div class="card-body">
                                <div class="row row-cols-3 d-flex justify-content-md-between">
                                    <div class="col-md-3 d-print-flex">
                                        <div class="">
                                            <h6 class="mb-0"><b>归还日期 :</b> {{.endTime}}</h6>

                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-md-3 d-print-flex">
                                        <div class="">
                                            <address class="font-13">
                                                <strong class="font-14">出借人 :</strong><br>
                                                <!-- Joe Smith<br> -->
                                                {{.owner}}<br>
                                            </address>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-3 d-print-flex">
                                        <div class="">
                                            <address class="font-13">
                                                <strong class="font-14">借入人:</strong><br>
                                                {{.borrower}}<br>
                                            </address>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->



                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="mt-4">区块链数据 :</h5>
                                        <ul class="ps-3">
                                            <li><small class="font-12"><span>交易Hash：</span>{{.dealHash}}
                                                </small></li>
                                            <li><small class="font-12"><span>所在区块：</span>{{.blockNum}} </small></li>
                                            <li><small class="font-12"><span>交易时间戳：</span>{{.timeStamp}}</small></li>
                                        </ul>
                                    </div>
                                    <!--end col-->

                                </div>
                                <!--end row-->
                                <hr>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
                                        <div class="text-center"><small class="font-12"></small></div>
                                    </div>
                                    <!-- <div class="col-lg-12 col-xl-4">
                                        <div class="float-end d-print-none mt-2 mt-md-0">
                                            <a href="javascript:window.print()" class="btn btn-info btn-sm">打印</a>
                                            <a href="#" class="btn btn-primary btn-sm">确定</a>
                                            <a href="#" class="btn btn-danger btn-sm">取消</a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- container -->


        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->



    <!-- javascript  -->
    <script src="../share/assets/js/jquery-3.4.1.min.js"></script>
    <script src="../share/static/js/app.js"></script>
    <!-- Bootstrap JS -->
    <script src="../share/assets/js/bootstrap.min.js"></script>
    <!-- App js -->
    <script src="../share/static/js/app.js"></script>
    <script src="../share/js/pop-message.js"></script>
    <script type="text/javascript" src="../share/static/js/logout.js"></script>

</body>
{{ end }}
</html>