{{ define "Static/apps-chat.html" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ShareFish-聊天室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="share/static/js/public.js"></script>
    <link rel="stylesheet" href="share/css/tabbar.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="share/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">


    <!-- App css -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="share/css/wechat.css">
    <link rel="stylesheet" href="share/css/not-login.css">
    <link rel="stylesheet" href="share/css/materialize2.css">
</head>


<body class="pe-0">
{{if eq "" .userName}}
<div class="slider" style=" position: fixed;
        left: 0;
        bottom: 86px;
        width: 100%;
        height: 49px;
        line-height: 49px;
        z-index: 1010;">
    <ul class="slides" style="background: none;">
        <li><img src="" alt="">
            <div class="caption slider-content center-align ">
                <span style="font-size: 15px;">登录Share Fish打开精彩世界</span>
                <a href="../login" class="button-default" style="float: right;">立即登录</a>
            </div>
        </li>
    </ul>
</div>
{{else}}
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Header Area -->
<div class="header-area" id="headerArea">
    <div class="container">
        <!-- Header Content -->
        <div
                class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
            <!-- Back Button -->
            <div class="back-button">
                <a  class="back-link" onClick="javascript :history.back(-1);">
                    <svg class="bi bi-arrow-left-short" width="32" height="32" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z">
                        </path>
                    </svg>
                </a>
            </div>
            <!-- Page Title -->
            <div class="page-heading">
                <h6 class="mb-0">消息列表</h6>
            </div>
            <!-- Navbar Toggler -->
            <div class="navbar--toggler" id="header-menu-trigger" data-bs-toggle="offcanvas"
                 data-bs-target="#affanOffcanvas" aria-controls="affanOffcanvas"><span class="d-block"></span><span
                    class="d-block"></span><span class="d-block"></span></div>
        </div>
    </div>
</div>

<!--====================  mobile menu overlay ====================-->
{{ template "Static/menu.html" . }}

<div class="page-content-wrapper py-3">
    <div class="container">
        <!-- User Status Slide -->
        <ul class="ps-0 chat-user-list" id="ul_li">
            <!-- Single Chat User -->

            {{ $owner1 := .owners }}
            {{ range $key,$value := .chat_list }}
            {{ if eq $value.Owner $owner1 }}
            <li class="p-3 chat-unread">
                <a class="d-flex">
                    <!-- Thumbnail -->
                    <div class="chat-user-thumbnail me-3 shadow"><img class="img-circle"
                                                                      src="{{ $value.Img  }}"><span
                            class=" active-status"></span></div><!-- Info -->
                    <div class="chat-user-info" data-addrto="{{ $value.Addr }}" data-nameto="{{ $value.Name }}" data-img="{{ $value.Img }}">
                        <h6 class="text-truncate mb-0">{{ $value.Name }}</h6>
                        <div class="last-chat">
                            <p class="mb-0 text-truncate">{{ $value.Time }}
                                <span class="badge rounded-pill bg-primary ms-2">{{ $value.No_read }}</span>
                            </p>
                        </div>
                    </div>
                </a>
                <!-- Options -->
                <div class="dropstart chat-options-btn">
                    <button class="btn dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-dots-vertical"></i></button>
                    <ul class="dropdown-menu">

                        <li class="del" data-id="{{ $value.Id }}"><a><i class="ti ti-trash" ></i>删除</a></li>
                    </ul>
                </div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</div>
{{end}}
<footer>

    <div class="sc-bottom-bar">
        <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
        <a class="sc-menu-item " href="../goods-category"><i class="fas  fa-list"></i></a>
        <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
        <a class="sc-menu-item sc-current" href="../select_chat_list"><i class="fas fa-comments"></i></a>
        <a class="sc-nav-indicator"></a>
        <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
    </div>

</footer>


<!-- jQuery JS -->

<script src="share/assets/js/jquery-3.4.1.min.js"></script>
<script>
    $(".d-flex").click(function () {
        $.ajax({
            type: "POST",
            url: "/list_content",
            data: {"addr": $(".chat-user-info").data("addrto"),"name": $(".chat-user-info").data("nameto"),"img":$(".chat-user-info").data("img")},
            success: function () {
                window.location = "/select_chat_content";
            }
        })
    })

    $(".dropdown-menu").delegate(".del","click",function () {
        $.ajax({
            type: "POST",
            url: "/delete_chat_list",
            data: {"id": $(".del").data("id")},
            success: function () {
                location.reload();
            }
        })
    })
</script>
<script src="share/assets/js/main.js"></script>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="share/js/tabbar.js"></script>

<!-- script js -->
<script src="share/static/js/app.js"></script>
<script src="share/js/pop-message.js"></script>
<script type="text/javascript" src="share/static/js/logout.js"></script>
<script src="share/js/materialize.min.js"></script>
<script src="share/js/sliderbg.js"></script>
</body>
{{ end }}
</html>