{{ define "Static/category-details.html" }}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>Share Fish-分类详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
    <script src="share/static/js/public.js"></script>
    <link rel="stylesheet" href="share/css/materialize.css">
   <link rel="stylesheet" href="share/css/sliderbg.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="share/css/style1.css">
    <!-- 图标 -->
    <link rel="stylesheet" href="share/static/css/flaticon.css">
    <link rel="stylesheet" href="share/static/css/responsive.css">
    <!-- 底部导航 -->
   <link rel="stylesheet" href="share/css/tabbar.css">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="share/assets/css/bootstrap.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="share/assets/css/plugins/slick.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="share/assets/css/plugins/cssanimation.min.css">
    <!-- IonRange slider CSS -->
    <link rel="stylesheet" href="share/assets/css/plugins/ion.rangeSlider.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">

    <!-- App css搜索框 -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">
    <script src="share/static/js/public.js"></script>
</head>

<body>

    <header>
        <div class="header-wrapper border-bottom">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <!-- header logo -->
                        <div class="header-logo">
                            <a href="../index">
                                <img src="share/assets/img/logo.png" class="img-fluid" alt="" style="width: 75px;">
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <!-- 搜索框 -->
                        <div class="header-search" style="padding-top: 8px;">
                            <a href="../search-page">
                                <div class="input-group">
                                    <input type="text" id="chat-search" name="chat-search" class="form-control"
                                        placeholder="搜索好物" style="    padding-left: 30px;">
                            </a>

                            <span style="position: absolute;padding-top: 7px;padding-left: 10px;
                                       "><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="header-menu-trigger" id="header-menu-trigger">
                        <i class="fas fa-align-right" style="font-size: 20px;padding-right: 8px;
                            padding-top: 15px;
                                color: grey;"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!--====================  End of header area  ====================-->
    <!--====================  mobile menu overlay ====================-->
    {{ template "Static/menu.html" . }}


    <!-- slider -->
    <div class="slider">
        <ul class="slides">
            <li><img src="share/images/1.jpg" alt="">
                <div class="caption slider-content center-align ">
                    <div class="container">
                        <h2>小米新品首发</h2>
                        <h4>5G 全新一代</h4><a href="../shop-product" class="button-default">立即抢租</a>
                    </div>
                </div>
            </li>
            <li><img src="share/images/2.jpg" alt="">
                <div class="caption slider-content center-align">
                    <div class="container">
                        <h2>更多好物</h2>
                        <h4>5G 全新一代</h4><a href="../goods-category" class="button-default">立即抢租</a>
                    </div>
                </div>
            </li>
            <li><img src="share/images/3.jpg" alt="">
                <div class="caption slider-content center-align">
                    <div class="container">
                        <h2>全部分类 </h2>
                        <h4>5G 全新一代</h4><a href="../goods-category" class="button-default">立即抢租</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>



    <div class="shop-home section">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="shop"><a href="../shop-product"><img src="share/images/1.jpg" alt="">
                            <h6>佳能相机</h6><span>$13/天</span>
                        </a>
                        <div style="text-align:center;padding: 12px;">
                            <button class="button-default"
                                onclick="window.location.href = 'shop-product.html'">去租用</button>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="shop"><a href="../shop-product"><img src="share/images/2.jpg" alt="">
                            <h6>Switch</h6><span>$13/天</span>
                        </a>
                        <div style="text-align:center;padding: 12px;">
                            <button class="button-default"
                                onclick="window.location.href = 'shop-product.html'">去租用</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="shop"><a href="../shop-product"><img src="share/images/3.jpg" alt="">
                            <h6>蓝牙耳机</h6><span>$13/天</span>
                        </a>
                        <div style="text-align:center;padding: 12px;">
                            <button class="button-default"
                                onclick="window.location.href = 'shop-product.html'">去租用</button>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="shop"><a href="../shop-product"><img src="share/images/4.jpg" alt="">
                            <h6>苹果电脑
                            </h6><span>$13/天</span>
                        </a>
                        <div style="text-align:center;padding: 12px;">
                            <button class="button-default"
                                onclick="window.location.href = 'shop-product.html'">去租用</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="shop"><a href="../shop-product"><img src="share/images/5.jpg" alt="">
                            <h6>iPad Pro</h6><span>$13/天</span>
                        </a>
                        <div style="text-align:center;padding: 12px;">
                            <button class="button-default"
                                onclick="window.location.href = 'shop-product.html'">去租用</button>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="shop"><a href="../shop-product"><img src="share/images/6.jpg" alt="">
                            <h6>VR眼镜</h6><span>$13/天</span>
                        </a>
                        <div style="text-align:center;padding: 12px;">
                            <button class="button-default"
                                onclick="window.location.href = 'shop-product.html'">去租用</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-bottom">
                <div class="col s12">
                    <div class="shop-pagination">
                        <ul>
                            <li class="active"><a href="">1</a></li>
                            <!-- <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end home shop -->

    <!-- footer -->
    <footer>

        <div class="sc-bottom-bar">
            <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
            <a class="sc-menu-item" href="../goods-category"><i class="fas  fa-list"></i></a>
            <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
             <a class="sc-menu-item" href="../cart"><i class="fas fa-clipboard"></i></a>
            <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
        </div>

    </footer>
    <!-- scripts -->
    <script src="share/js/jquery.min.js"></script>
    <script src="share/js/materialize.min.js"></script>
    <script src="share/js/sliderbg.js"></script>

    <!-- Modernizer JS -->
    <script src="share/js/tabbar.js"></script>

    <!-- Bootstrap JS -->
    <script src="share/assets/js/bootstrap.min.js"></script>
    <!-- IonRanger JS -->
    <script src="share/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <!-- SVG inject JS -->
    <script src="share/assets/js/plugins/svg-inject.min.js"></script>
    <!-- Slick slider JS -->
    <script src="share/assets/js/plugins/slick.min.js"></script>

    <script src="share/assets/js/main.js"></script>

    <!-- script js -->
    <script src="share/js/script1.js"></script>
    <script src="share/js/popbox.js"></script>
    <script>
        function okFunction() {
            window.location.href = "login.html";
        }
        function cancelFunction() {
            alert('Cancel!');
        }
    </script>
</body>
{{ end }}
</html>