{{ define "Static/menu.html" }}
<div class="offcanvas-menu" id="offcanvas-menu">
    <div class="profile-card text-center">
        <div class="profile-card__image space-mb--10">
            <img src="../Static/assets/img/profile.jpg" class="img-fluid" alt="">
        </div>
        <div class="profile-card__content">
            <p class="name">{{.address}} <span class="id">{{.userName}}</span></p>
        </div>
    </div>
    <div class="offcanvas-navigation-wrapper space-mt--40">
        <ul class="offcanvas-navigation">

            
            <li><span class="icon"><i class="ti ti-plus" style="font-size: 25px;"></i></span><a
                        href="../lend-items">上传物品</a></li>
            <li><span class="icon"><i class="ti ti-shopping-cart" style="font-size: 25px;"></i></span><a
                        href="../shop">我租入的物品</a></li>
            <li><span class="icon"><i class="ti ti-box" style="font-size: 25px;"></i></span><a
                        href="../order">我借出的物品</a></li>
            {{if eq "" .userName}}
                <li><span class="icon"><i class="ti ti-login" style="font-size: 25px;"></i></span><a
                            href="../login">登录/注册</a></li>
            {{else}}
                <li><span class="icon"><i class="ti ti-power" style="font-size: 25px;"></i></span><a
                           href="../login" onclick="Qual.confirmd('您确定要退出当前账号吗？', '点击OK按钮或者关闭', inf, 'OK', '', 'okFunction', 'cancelFunction')">退出登录</a>
                </li>
            {{end}}
        </ul>
    </div>
</div>
{{ end }}