{{ define "Static/mod-photo.html" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ShareFish-修改头像</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="share/static/js/public.js"></script>

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">
    <link rel="stylesheet" href="share/assets/css/bootstrap.min.css">

    <!-- App css搜索框 -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">

    
</head>
<body style="background-color: black;">
    <style>

          img {
            -webkit-transform:scale(3);
          }
    </style>
    
    <header>
		<div class="header-wrapper border-bottom">
			<div class="container space-y--15">
				<div class="row align-items-center">
					<div class="col-auto">
						<a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
							返回</a>
					</div>
					
					
				</div>
			</div>
		</div>

	</header>

    <div id="addCommodityIndex">
        <div class="input-group row">
            <form class="signin-form"  action="/addUserImg" method="POST" enctype="multipart/form-data">
            <div class="col-sm-9 big-photo">
                <div id="preview"  style="width: 400px;
                height: 600px;
                display: table-cell; /*主要是这个属性*/
                vertical-align: middle;
                text-align: center;">
                    {{if eq "" .userImg}}
                        <a onclick="$('#previewImg').click();">
                            <img id="imghead" border="0" src="share/assets/img/profile.jpg" width="90"
                                 height="90" >
                        </a>
                    {{else}}
                        <a onclick="$('#previewImg').click();">
                            <img id="imghead" border="0" src="share/{{.userImg}}" width="90"
                                 height="90" >
                        </a>
                    {{end}}

                </div>
                <input type="file" name="imgname" onchange="previewImage(this)"  style="display: none;"
                    id="previewImg">
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary mt-4"
                         >确定更换</button>
                </div>
            </div>
            </form>
        </div>
        

    </div>

    <script src="share/assets/js/jquery-3.4.1.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="share/assets/js/bootstrap.min.js"></script>
    <script>
        //图片上传预览    IE是用了滤镜。
        function previewImage(file) {
            var MAXWIDTH = 90;
            var MAXHEIGHT = 90;
            var div = document.getElementById('preview');
            if (file.files && file.files[0]) {
                div.innerHTML = '<img id=imghead onclick=$("#previewImg").click()>';
                var img = document.getElementById('imghead');
                img.onload = function () {
                    var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                    img.width = rect.width;
                    img.height = rect.height;
                    //                 img.style.marginLeft = rect.left+'px';
                    img.style.marginTop = rect.top + 'px';
                }
                var reader = new FileReader();
                reader.onload = function (evt) { img.src = evt.target.result; }
                reader.readAsDataURL(file.files[0]);
            }
            else //兼容IE
            {
                var sFilter = 'filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
                file.select();
                var src = document.selection.createRange().text;
                div.innerHTML = '<img id=imghead>';
                var img = document.getElementById('imghead');
                img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                status = ('rect:' + rect.top + ',' + rect.left + ',' + rect.width + ',' + rect.height);
                div.innerHTML = "<div id=divhead style='width:" + rect.width + "px;height:" + rect.height + "px;margin-top:" + rect.top + "px;" + sFilter + src + "\"'></div>";
            }
        }
        function clacImgZoomParam(maxWidth, maxHeight, width, height) {
            var param = { top: 0, left: 0, width: width, height: height };
            if (width > maxWidth || height > maxHeight) {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;

                if (rateWidth > rateHeight) {
                    param.width = maxWidth;
                    param.height = Math.round(height / rateWidth);
                } else {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
    </script>

    <script>
        $(function () {
            $('#btn-photo').on('click', function () {
                $.message({
                    type: 'success',
                    message: '<div style="color:#333;font-weight:bold;font-size:16px;">头像修改成功<div><span style="color:lightgrey;font-size:small;">3秒后自动关闭</span>',
                    duration: 3000,
                    center: true
                })
            })
        })
    </script>
    <script src="share/js/message.js"></script>
</body>
{{end}}
</html>