{{ define "Static/order-receiving.html" }}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Share Fish-接单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../static/js/public.js"></script>

    <link rel="stylesheet" href="../share/css/defaultStyle.css" />
    <link rel="stylesheet" href="../share/css/tabbar.css">

    <link rel="stylesheet" href="../share/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../share/assets/css/style.css">
    <!-- App css -->
    <link href="../share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../share/static/css/app.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../share/css/not-login.css">
    <link rel="stylesheet" href="../share/css/materialize2.css">
    <!-- 图片上传 css -->
    <link rel="stylesheet" href="../share/css/demo.css">
    <link rel="stylesheet" href="../share/css/cropper.min.css">
</head>

<body id="body" class="dark-sidebar">
{{if eq "" .userName}}
    <div class="slider" style=" position: fixed;
        left: 0;
        bottom: 86px;
        width: 100%;
        height: 49px;
        line-height: 49px;
        z-index: 1010;">
        <ul class="slides" style="background: none;">
            <li><img src="" alt="">
                <div class="caption slider-content center-align ">
                    <span style="font-size: 15px;">登录Share Fish打开精彩世界</span>
                    <a href="../login" class="button-default" style="float: right;">立即登录</a>
                </div>
            </li>
        </ul>
    </div>
{{else}}

    <header>
		<div class="header-wrapper border-bottom">
			<div class="container space-y--15">
				<div class="row align-items-center">
					<div class="col-auto">
						<a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
							返回</a>
					</div>
					<div class="col d-flex justify-content-center">
						<div class="header-search">
							<div class="input-group">
								<h4 style="    padding-top: 18px;">接单</h4>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<!-- header menu trigger -->
						<button class="header-menu-trigger" id="header-menu-trigger">
							<i class="fas fa-align-right" style="font-size: 20px;
                                color: grey;"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

	</header>

    {{ template "Static/menu.html" . }}




    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content-tab">

            <div class="container-fluid">
                <!-- Page-Title -->
                
                <div class="col-md-12">
                    <label for="addnote" class="form-label" style="padding-top: 0px; font-size: 16px;">需求详情</label>
                </div>
                <div class="card">
                    {{range $key,$vlaue:=.ListNeeds}}
                    <div class="card-body">
                        <div class="task-box">
                            <div class="task-priority-icon"><i class="fas fa-circle text-info"></i></div>
                            <p class="text-muted float-right">


                                <span><i class="far fa-fw fa-clock"></i> {{$vlaue.DemandTime}}</span>
                            </p>
                            <h5 class="mt-0 mb-1">{{$vlaue.DemandKinds}}</h5>
                            <p class="text-muted mb-1">{{$vlaue.DemandName}}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                               
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane p-3 active" id="Post" role="tabpanel">
                                        <div class="row">
                                            <form method="post" action="/addGoodsPost" enctype="multipart/form-data">
                                                <div class="row g-3 align-items-center">
                                                    <div class="col-md-6">
                                                        <label for="" class="form-label">物品名称</label>
                                                        <input type="text" class="form-control" name="goodsName"
                                                               id="goodsName" value="">
                                                        <p id="p_name"></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="" class="form-label">每日租金</label>
                                                        <input type="text" class="form-control" name="rent" id="rent"
                                                               required="">
                                                        <p id="p_rent"></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label">物品类别</label>
                                                        <select class="form-select" aria-label="Default select example" name="species" id="species">


                                                                <option selected="">{{$vlaue.DemandKinds}}</option>


                                                        </select>
                                                        {{end}}
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="formFileMultiple" class="form-label"> 图片上传 </label>
                                                        <!-- 上传图片的预览区域 -->
                                                        <section class="upload-box" id="J_upload_box">
                                                            <div class="upload" id="J_file_wrap">
                                                                <input type="file" accept="image/*" name="myGoodsImg"
                                                                       id="J_file">
                                                            </div>
                                                        </section>

                                                        <!-- 图片裁剪工作区域 -->
                                                        <div id="J_file_box">
                                                            <img src="#" id="J_file_box_img" alt="">
                                                        </div>

                                                        <!-- 选择裁剪比例 -->
                                                        <div class="crop-group" id="J_crop_group">
                                                            <label>
                                                                <input type="radio" name="scale" value="1/1">
                                                                <span>1 : 1</span>
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="scale" value="4/3"
                                                                       checked="checked">
                                                                <span>4 : 3</span>
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="scale" value="9/16">
                                                                <span>9 : 16</span>
                                                            </label>
                                                        </div>

                                                        <!-- 裁剪或取消 -->
                                                        <div class="btn-group" id="J_btn_group">
                                                            <span id="J_cancel">取消</span>
                                                            <span id="J_crop">裁剪</span>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="" class="form-label">押金</label>
                                                        <input type="text" class="form-control" name="textDeposit"
                                                               id="textDeposit" required="">
                                                        <p id="p_money"></p>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="addnote" class="form-label">商品描述</label>
                                                        <textarea class="form-control" name="addnote" id="addnote"
                                                                  rows="3"></textarea>
                                                        <p id="p_describe"></p>
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-primary mt-4" id="ensure" onclick="window.location.href='cart.html'">确认上架</button>

                                            </form>
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div><!-- container -->
        </div>
        <!-- end page content -->
    </div>
{{end}}
    <!-- end page-wrapper -->
    <footer>

        <div class="sc-bottom-bar">
            <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
            <a class="sc-menu-item " href="../goods-category"><i class="fas  fa-list"></i></a>
            <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
            <a class="sc-menu-item" href="../select_chat_list"><i class="fas fa-comments"></i></a>
            <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
        </div>

    </footer>
    <!-- Javascript  -->
    <script src="../share/static/js/app.js"></script>
    <script src="../share/assets/js/jquery-3.4.1.min.js"></script>
<script>
    //鼠标移开物品名称框开始验证
    $("#goodsName").blur(function(){
        var goodsName = $("#goodsName").val();
        if (goodsName =="") {
            $("#p_name").html("<font color=\"red\" size=\"2\">物品名称不能为空！</font>");
        } else {
            $("#p_name").html("<font color=\"green\" size=\"2\">物品名称格式正确！</font>");
        }
    })
    //鼠标放置物品名称框不验证
    $("#goodsName").focus(function(){
        $("#p_name").html("");
    })

    //鼠标移开租金框开始验证
    $("#rent").blur(function(){
        var rent = $("#rent").val();
        var Rent = /^[0-9]*$/;
        if (rent ==""){
            $("#p_rent").html("<font color=\"red\" size=\"2\">租金不能为空！</font>");
        }else if (!Rent.test(rent)) {
            $("#p_rent").html("<font color=\"red\" size=\"2\">租金格式填写错误！</font>");
        } else {
            $("#p_rent").html("<font color=\"green\" size=\"2\">租金格式正确！</font>");
        }
    })
    //鼠标放置租金框不验证
    $("#rent").focus(function(){
        $("#p_rent").html("");
    })

    //鼠标移开押金框开始验证
    $("#textDeposit").blur(function(){
        var textDeposit = $("#textDeposit").val();
        var TextDeposit = /^[0-9]*$/;
        if (textDeposit ==""){
            $("#p_money").html("<font color=\"red\" size=\"2\">押金不能为空！</font>");
        }else if (!TextDeposit.test(textDeposit)) {
            $("#p_money").html("<font color=\"red\" size=\"2\">押金格式填写错误！</font>");
        } else {
            $("#p_money").html("<font color=\"green\" size=\"2\">押金格式正确！</font>");
        }
    })
    //鼠标放置租金框不验证
    $("#textDeposit").focus(function(){
        $("#p_money").html("");
    })

    //鼠标移开物品描述框开始验证
    $("#addnote").blur(function(){
        var addnote = $("#addnote").val();
        if (addnote =="") {
            $("#p_describe").html("<font color=\"red\" size=\"2\">商品描述不能为空！</font>");
        } else {
            $("#p_describe").html("<font color=\"green\" size=\"2\">商品描述格式正确！</font>");
        }
    })
    //鼠标放置物品描述框不验证
    $("#addnote").focus(function(){
        $("#p_describe").html("");
    })

</script>
    <!-- Bootstrap JS -->
    <script src="../share/assets/js/bootstrap.min.js"></script>
    <script src="../share/assets/js/main.js"></script>
    <script src="../share/js/pop-message.js"></script>
    <script type="text/javascript" src="share/static/js/logout.js"></script>

    <!-- <script src="js/upload1.js" type="text/javascript"></script> -->
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="../share/js/upload.js"></script>
    <script src="../share/js/demo.js"></script>
<script src="../share/js/materialize.min.js"></script>
<script src="../share/js/sliderbg.js"></script>

</body>
{{ end }}
</html>