{{ define "Static/public-benefit.html" }}
<!doctype html>
<html lang="zxx">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="share/static/js/public.js"></script>
    <link rel="stylesheet" href="share/static/css/login.css">
    <link rel="stylesheet" href="share/static/css/responsive.css">
    <link rel="stylesheet" href="share/css/tabbar.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">

    <!-- App css搜索框 -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">
    <title>Share Fish-爱心公益</title>

</head>

<body>

    <header>
        <div class="header-wrapper border-bottom">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
                            返回</a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="header-search">
                            <div class="input-group">
                                <h4 style="    padding-top: 18px;">爱心公益</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <!-- header menu trigger -->
                        <button class="header-menu-trigger" id="header-menu-trigger">
                            <i class="fas fa-align-right" style="font-size: 20px;
                                color: grey;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--====================  End of header area  ====================-->
    <!--====================  mobile menu overlay ====================-->
    {{ template "Static/menu.html" . }}
    <!--====================  End of mobile menu overlay  ====================-->

    <section class="candidate-style-two pt-100 pb-70">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-sm-6">
                    <div class="candidate-card" style="    padding-top: 25px;">
                        <a href="../public-details">
                            <div class="candidate-img">

                                <img src="share/images/gy1.jpg" alt="candidate image">

                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="../public-details">致敬志愿者暖心计划</a>
                                </h3>
                                <ul>
                                    <li>
                                        为一线志愿者们送去暖心包...
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="candidate-social">
                            <a href="#"><i class="ti ti-heart"
                                    style="    font-size: 18px; padding: 8px;   border-radius: 15px;"
                                    onclick="Qual.successd('Success','捐助成功');">去捐助</i></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="candidate-card">
                        <a href="../public-details">
                            <div class="candidate-img">
                                <img src="share/images/gy2.jpg" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="../public-details">守护留守娃快乐童年</a>
                                </h3>
                                <ul>
                                    <li>
                                        为留守儿童提供小爱快乐包...
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="candidate-social">
                            <a href="#"><i class="ti ti-heart"
                                    style="    font-size: 18px; padding: 8px;   border-radius: 15px;"
                                    onclick="Qual.successd('Success','捐助成功');">去捐助</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="candidate-card">
                        <a href="../public-details">
                            <div class="candidate-img">
                                <img src="share/images/gy3.jpg" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="../public-details">县域高中生成长计划</a>
                                </h3>
                                <ul>
                                    <li>
                                        关注县域高中生学习成长
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="candidate-social">
                            <a href="#"><i class="ti ti-heart"
                                    style="    font-size: 18px; padding: 8px;   border-radius: 15px;"
                                    onclick="Qual.successd('Success','捐助成功');">去捐助</i></a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>






    <footer>

        <div class="sc-bottom-bar">
            <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
            <a class="sc-menu-item " href="../goods-category"><i class="fas  fa-list"></i></a>
            <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
            <a class="sc-menu-item" href="../cart"><i class="fas fa-clipboard"></i></a>
            <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
        </div>

    </footer>

    <script src="share/js/tabbar.js"></script>

    <script src="share/static/js/jquery.min.js"></script>

    <!-- Main JS -->
    <script src="share/assets/js/main.js"></script>
    <script src="share/js/popbox.js"></script>
    <script>
        function okFunction() {
            window.location.href = "login.html";
        }
        function cancelFunction() {
            alert('Cancel!');
        }
    </script>
</body>
{{ end }}
</html>