{{ define "Static/register.html" }}
<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="share/static/js/public.js"></script>
    <link href="css/time.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="share/css/tabbar.css">

    <link rel="stylesheet" href="share/static/css/boxicon.min.css">
    <link rel="stylesheet" href="share/static/css/login.css">
    <link rel="stylesheet" href="share/static/css/responsive.css">

    <link rel="stylesheet" href="share/assets/css/style.css">

    <!-- App css搜索框 -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">
    <title>Share Fish-注册</title>

</head>

<body>

    <header>
        <div class="header-wrapper border-bottom">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <!-- header logo -->
                        <div class="header-logo">
                            <a href="../index">
                               <img src="share/assets/img/logo.png" class="img-fluid" alt="" style="width: 75px;">
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <!-- 搜索框 -->
                        <div class="header-search">
                            <a href="../search-page">
                                <div class="input-group">
                                    <input type="text" id="chat-search" name="chat-search" class="form-control"
                                        placeholder="搜索好物" style="    padding-left: 30px;">
                            </a>

                            <span style="position: absolute;padding-top: 7px;padding-left: 10px;
                                       "><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="header-menu-trigger" id="header-menu-trigger">
                        <i class="fas fa-align-right" style="font-size: 20px;
                                color: grey;"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>
    {{ template "Static/menu.html" . }}
    <div class="loader-content">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>

    <section class="page-title title-bg12">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>注册</h2>
                <ul>
                    <li>
                        <a href="../index">首页</a>
                    </li>
                    <li>注册</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>

    <div class="signin-section ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
                    <form class="signin-form">

                        <div class="form-group">
                            <label>昵称</label>
                            <input type="text" class="form-control" placeholder="输入你的姓名" id="use_name">
                            <p id="p_name"></p>
                        </div>

                        <div class="form-group">
                            <label>邮箱</label>
                            <input type="text" class="form-control" placeholder="输入你的邮箱" id="use_email">
                            <p id="p_email"></p>
                        </div>
                        <div class="form-group" style="width: 70%;">
                            <label>验证码</label>
                            <input type="text" class="form-control" placeholder="输入验证码" id="use_random">
                            <p id="p_random"></p>
                        </div>
                        <button class="ec-btn" type="button" id="deliver" class="btn btn-de-danger btn-sm"
                            data-bs-toggle="modal" style="float: right;     margin-top: -60px;     font-size: 15px;"
                            data-bs-target="#exampleModalSend"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-navigation align-self-center icon-xs me-2">
                                <polygon points="3 11 22 2 13 21 11 13 3 11"></polygon>
                            </svg>Send</button>


                        <!-- <button type="submit" style="padding: 10px 30px;
                        border-radius: 30px;
                        background: #001935;
                        color: #fff;
                        -webkit-transition: .8s;
                        transition: .8s;
                        font-size: 16px;">发送验证码</button> -->


                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" class="form-control" placeholder="输入你的密码" id="use_password">
                            <p id="p_password"></p>
                        </div>

                        <div class="form-group">
                            <label>确认密码</label>
                            <input type="password" class="form-control" placeholder="再次输入密码" id="use_password1">
                            <p id="p_password1"></p>
                        </div>



                        <div class="signin-btn text-center">
                            <input type="checkbox" id="check">
                            <span>我已阅读并同意</span>
                            <a href="../user-agreement">《ShareFish服务协议》</a>
                            <button id="register">注册</button>
                        </div>

                        <div class="create-btn text-center">
                            <p>已经有账号？
                                <a href="../login">
                                    登录已有账号
                                    <i class='bx bx-chevrons-right bx-fade-right'></i>
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>

        <div class="sc-bottom-bar">
            <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
            <a class="sc-menu-item " href="../goods-category"><i class="fas  fa-list"></i></a>
            <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
            <a class="sc-menu-item" href="../cart"><i class="fas fas fa-shopping-cart"></i></a>
            <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
        </div>

    </footer>

    <script src="share/static/js/jquery.min.js"></script>
    <script src="share/static/js/owl.carousel.min.js"></script>
    <script src="share/static/js/jquery.nice-select.min.js"></script>
    <script src="share/static/js/jquery.magnific-popup.min.js"></script>
    <script src="share/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="share/static/js/form-validator.min.js"></script>
    <script src="share/static/js/meanmenu.js"></script>
    <script src="share/static/js/custom.js"></script>
    <!-- Main JS -->
    <script src="share/assets/js/main.js"></script>

    <script>
        $('.ec-btn').click(function () {
            setTime(60);
        })

        function setTime(time) {
            if (!isNaN(time) && time > 0) {
                $('.ec-btn').html("倒计时" + time + "秒");
                $('.ec-btn').attr('disabled', true);
                var b = setInterval(function () {
                    time--;
                    if (time <= 0) {
                        $('.ec-btn').html('重新发送');
                        $('.ec-btn').attr('disabled', false);
                        clearInterval(b);
                    } else {
                        $('.ec-btn').html("倒计时" + time + "秒");
                    }
                }, 1000);
            } else {
                alert('时间有误')
            }
        }
    </script>
</body>
{{ end }}
</html>