{{ define "Static/shop.html" }}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Share Fish-租入</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="share/static/js/public.js"></script>
    <link rel="stylesheet" href="share/css/tabbar.css">
    <!-- CSS-->
    <link type="text/css" rel="stylesheet" href="share/css/shop.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="share/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">

    <!-- App css -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">

</head>

<style>
    *,
    ::after,
    ::before {
        -webkit-box-sizing: unset;
        box-sizing: unset;
    }
</style>

<body id="body" class="dark-sidebar">
    <header>
        <div class="header-wrapper border-bottom">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
                            返回</a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="header-search">
                            <div class="input-group">
                                <h4 style="padding-top: 18px;">我租入的物品</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto" style="width: 35px;">
                        <!-- header menu trigger -->
                        <button class="header-menu-trigger" id="header-menu-trigger">
                            <i class="fas fa-align-right" style="font-size: 20px;
                                color: grey;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {{ template "Static/menu.html" . }}


    <div style="padding-top: 48px;"></div>
    {{range $key,$vluae:=.shopDet}}
    <div class="myddcon">

        <div class="myddcon1">
            <div class="dpbox">
                <div class="dpL">
                    <span>商品ID：{{$vluae.OId}}</span>
                    <span style="display: none">{{$vluae.BackTime}}</span>
                </div>
                <div class="dpR"><a href="">待归还</a></div>
            </div>
            <div class="shopbox" onclick="window.open('../apps-invoice/{{$vluae.OId}}','_self')">
                <div class="shopboxL">
                    {{range $k,$v:=$vluae.GoodImg}}
                    <img src={{$v}} alt="">
                    {{end}}

                </div>
                <div class="shopboxR">
                    <div class="shopboxR_1">
                        <div class="sbr1_1">{{$vluae.Names}}</div>
                        <div class="sbr1_2">
                            <p class="p2">租金：ETH {{$vluae.Rent}}</p>
                        </div>
                    </div>
                    <div class="shopboxR_2">
                        <p class="p4">押金：ETH {{$vluae.EthPledge}}</p>
                    </div>
                </div>
            </div>
            <div class="dphjbox">
                <p class="p5">实付: <span>ETH </span></p>
            </div>
            <div class="dpbtn">

                <div class="dpbtn2">
                    <a class="backSub">立即归还</a>
                </div>
            </div>
        </div>

    </div>
    {{end}}


    <footer>

        <div class="sc-bottom-bar">
            <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
            <a class="sc-menu-item " href="../goods-category"><i class="fas  fa-list"></i></a>
            <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
            <a class="sc-menu-item" href="../select_chat_list"><i class="fas fa-comments"></i></a>
            <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
        </div>

    </footer>
    <!--====================  End of footer area  ====================-->
    </div>

    <script src="share/static/js/app.js"></script>
    <script src="share/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="share/assets/js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="share/assets/js/main.js"></script>
    <script src="share/js/pop-message.js"></script>
    <script type="text/javascript" src="share/static/js/logout.js"></script>
    <script>
        $(".backSub").click(function () {
            $.ajax({
                type: "POST",
                url: "/returnGoodsPost",
                data: {
                    "id": $(".shopid").data("id"),
                },
                success: function () {
                    window.location = "/select_chat_list"
                }
            })
        })
    </script>

</body>
{{ end }}

</html>