{{ define "Static/shop.html" }}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Share Fish-租入</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="share/static/js/public.js"></script>
    <link rel="stylesheet" href="share/css/tabbar.css">
    <!-- CSS-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="share/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">

    <!-- App css -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!--====================  preloader area ====================-->
    <div class="preloader-activate preloader-active">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="img-loader"></div>
            </div>
        </div>
    </div>
    <!--====================  End of preloader area  ====================-->
    <div class="body-wrapper space-pt--70 space-pb--120">
        <!--====================  header area ====================-->
        <header>
            <div class="header-wrapper border-bottom">
                <div class="container space-y--15">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <!-- header logo -->
                            <div class="header-logo">
                                <a href="../index">
                                    <img src="share/assets/img/logo.png" class="img-fluid" alt="" style="width: 75px;">
                                </a>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <!-- 搜索框 -->
                            <div class="header-search">
                                <a href="../search-page">
                                    <div class="input-group">
                                        <input type="text" id="chat-search" name="chat-search" class="form-control"
                                            placeholder="搜索好物" style="    padding-left: 30px;">
                                </a>

                                <span style="position: absolute;padding-top: 7px;padding-left: 10px;
                                       "><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="header-menu-trigger" id="header-menu-trigger">
                            <i class="fas fa-align-right" style="font-size: 20px;
                                color: grey;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!--====================  End of header area  ====================-->
        <!--====================  mobile menu overlay ====================-->
        {{ template "Static/menu.html" . }}
        <!--====================  End of mobile menu overlay  ====================-->
        <!--====================  shop header ====================-->

        <div class="shop-header bg-color--grey">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-3">
                        <a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
                            返回</a>
                    </div>
                    <div class="col-6">
                        <h4 class="category-title text-center">我租入的物品</h4>
                    </div>
                    <div class="col-3 text-right">
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="shop-products-area">
            <div class="shop-grid-products-wrapper space-mt--30 space-mb-m--20">
                <div class="container">
                    <div class="row">
                        {{range $key,$vluae:=.shopDet}}
                        <div class="col-6">
                            <div class="grid-product space-mb--20">
                                <div class="grid-product__image">
                                    <a href="../shop-product">
                                        {{range $k,$v:=$vluae.GoodImg}}
                                        <img src={{$v}} class="img-fluid" alt="">
                                        {{end}}
                                    </a>
                                </div>
                                <div class="grid-product__content">
                                    <h3 class="title"><a href="../shop-product">{{$vluae.Names}}</a></h3>
                                    <span class="category">{{$vluae.Species}}</span>
                                    <span class="shopid" data-id="{{$vluae.Id}}">ID：{{$vluae.Id}}</span>
                                    <div class="price">
                                        <span class="discounted-price">￥{{$vluae.Rent}}/天</span>
                                    </div>
                                </div>
                                <div style="text-align:center;padding: 12px;">
                                    <button class="btn btn-soft-primary backSub" );>归还</button>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div> -->


        <div class="row">
            <div class="col-12">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane p-3 active" id="Post" role="tabpanel">

                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="border-top-0">交易id</th>
                                                    <th class="border-top-0">商品</th>
                                                    <th class="border-top-0" style="padding-left: 25px;">剩余归还时间</th>
                                                    <th class="border-top-0" style="padding-left: 8px;">操作</th>
                                                </tr>
                                                <!--end tr-->
                                            </thead>
                                            <tbody>
                                                {{range $key,$vluae:=.shopDet}}
                                                <tr>

                                                    <td>
                                                        <a href="../apps-invoice/{{$vluae.OId}}">
                                                            <div class="cart-product__content">
                                                                <h6 class="m-0">{{$vluae.OId}}</h6>

                                                            </div>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <a href="../apps-invoice">
                                                            {{range $k,$v:=$vluae.GoodImg}}
                                                            <img src={{$v}} height="50"
                                                                class="me-3 align-self-center rounded" alt="">
                                                            {{end}}

                                                            <div class="cart-product__content">
                                                                <h6 class="m-0">{{$vluae.Names}}</h6>

                                                            </div>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <div class="data-box" class="cart-product__status">
                                                            <div class="badge badge-soft-warning px-2" id="dateShow1"
                                                                data-date="2022/05/23 23:45:24">
                                                                <span class="date-tiem d">00</span>天
                                                                <span class="date-tiem h">00</span>时
                                                                <span class="date-tiem m">00</span>分
                                                                <span class="date-s s">00</span>秒
                                                            </div>
                                                        </div>


                                                    </td>
                                                    <td>
                                                        <div class="dropdown d-inline-block float-right">
                                                            <a class="nav-link dropdown-toggle arrow-none" id="dLabel8"
                                                                data-bs-toggle="dropdown" href="#" role="button"
                                                                aria-haspopup="false" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                aria-labelledby="dLabel8">
                                                                <a class="dropdown-item backSub" href="#">归还</a>

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {{end}}
                                                <!--end tr-->

                                            </tbody>
                                        </table>
                                        <!--end table-->
                                    </div>
                                    <!--end /div-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->

                    </div>

                </div>
            </div>
            <!--end card-body-->
        </div>


        <footer>

            <div class="sc-bottom-bar">
                <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
                <a class="sc-menu-item " href="../goods-category"><i class="fas  fa-list"></i></a>
                <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
                <a class="sc-menu-item" href="../select_chat_list"><i class="fas fa-comments"></i></a>
                <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
            </div>

        </footer>
        <!--====================  End of footer area  ====================-->
    </div>

    <script src="share/static/js/app.js"></script>
    <script src="share/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="share/assets/js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="share/assets/js/main.js"></script>
    <script src="share/js/pop-message.js"></script>
    <script type="text/javascript" src="share/static/js/logout.js"></script>
<script>
    $(".backSub").click(function () {
        $.ajax({
            type: "POST",
            url: "/returnGoodsPost",
            data: {
                "id": $(".shopid").data("id"),
            },
            success: function () {
                window.location = "/select_chat_list"
            }
        })
    })
    </script>
    <script src="share/js/leftTime.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //日期倒计时,现在距离下面的日期
            var data_show = $('.data-box');
            for (var i = 1; i <= data_show.length; i++) {
                function_name($("#dateShow" + i).data("date"), "#dateShow" + i);
            }
            function function_name(time, obj) {
                $.leftTime(time, function (d) {
                    if (d.status) {
                        var $dateShow1 = $(obj);
                        $dateShow1.find(".d").html(d.d);
                        $dateShow1.find(".h").html(d.h);
                        $dateShow1.find(".m").html(d.m);
                        $dateShow1.find(".s").html(d.s);
                    }
                });
            }
        });
    </script>

</body>
{{ end }}

</html>