{{ define "Static/shop.html" }}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Share Fish-租入</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="share/static/js/public.js"></script>
    <link rel="stylesheet" href="share/css/tabbar.css">
    <!-- CSS-->
    <link type="text/css" rel="stylesheet" href="share/css/shop.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="share/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">

    <!-- App css -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">

</head>

<style>
    *,
    ::after,
    ::before {
        -webkit-box-sizing: unset;
        box-sizing: unset;
    }

    .dpbtn2 a {
        display: block;
        border: 1px solid #999;
        color: #999;
        font-size: 0.75rem;
        padding: 0 10px;
        height: 1.4rem;
        line-height: 1.4rem;
        border-radius: 10px;
        background: white;
        box-sizing: border-box;
        padding-bottom: 20px;
        padding-top: 0px;
    }
</style>

<body id="body" class="dark-sidebar">
    <header>
        <div class="header-wrapper border-bottom" style="width: 285px;">
            <div class="container space-y--15">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <!-- header logo -->
                        <div class="header-logo">
                            <a href="../index">
                                <img src="share/assets/img/logo.png" class="img-fluid" alt="" style="width: 75px;">
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <!-- 搜索框 -->
                        <div class="header-search" style="padding-left: 20px;">
                            <a href="../search-page">
                                <div class="input-group">
                                    <input type="text" id="chat-search" name="chat-search" class="form-control"
                                        placeholder="搜索好物" style="padding-left: 30px;">
                            </a>

                            <span style="position: absolute;padding-top: 12px;padding-left: 10px;
                                   "><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-auto" style=" left: 70px;">
                    <button class="header-menu-trigger" id="header-menu-trigger">
                        <i class="fas fa-align-right" style="font-size: 20px;
                            color: grey;"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="breadcrumb-area bg-color--grey space-y--15" style="padding-top: 80px;">
        <div class="container" style="width: auto;">
            <div class="row align-items-center">
                <div class="col-3" style="width: 70px;">
                    <a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
                        返回</a>
                </div>
                <div class="col-6">
                    <h4 class="page-title text-center">我租入的物品</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-menu" id="offcanvas-menu" style="width: 200px;">
        <div class="profile-card text-center">
            {{if eq "" .userImg}}
            <div class="profile-card__image space-mb--10">
                <img src="../share/assets/img/profile.jpg" class="img-fluid" alt="">
            </div>
            {{else}}
            <div class="profile-card__image space-mb--10">
                <img src="share/{{.userImg}}" class="img-fluid" alt="">
            </div>
            {{end}}
            <div class="profile-card__content">
                <p class="name"
                    style="word-wrap: break-word;word-break: break-all;overflow: hidden;text-align: center;">
                    {{.address}} <span class="id">{{.userName}}</span></p>
            </div>
        </div>
        <div class="offcanvas-navigation-wrapper space-mt--40">
            <ul class="offcanvas-navigation">

                {{if ne "" .userName}}
                <li><span class="icon"><i class="ti ti-plus" style="font-size: 25px;"></i></span><a
                        href="../lend-items">上传物品</a></li>
                <li><span class="icon"><i class="ti ti-shopping-cart" style="font-size: 25px;"></i></span><a
                        href="../shop">我租入的物品</a></li>
                <li><span class="icon"><i class="ti ti-box" style="font-size: 25px;"></i></span><a
                        href="../order">我借出的物品</a></li>
                <li><span class="icon"><i class="ti ti-power" style="font-size: 25px;"></i></span><a
                        id="confirm">退出登入</a>
                </li>
                {{else }}
                <li><span class="icon"><i class="ti ti-login" style="font-size: 25px;"></i></span><a
                        href="../login">登录/注册</a></li>
                {{end}}
            </ul>
        </div>
    </div>



    <div style="padding-top: 10px;"></div>
    {{range $key,$vluae:=.shopDet}}
    <div class="myddcon" data-id="{{$vluae.OId}}">

        <div class="myddcon1">
            <div class="dpbox">
                <div class="dpL">
                    <span>商品ID：{{$vluae.OId}}</span>
                    <span style="display: none">{{$vluae.BackTime}}</span>
                </div>
                {{if eq $vluae.IsBack false}}
                <div class="dpR"><a href="">待归还</a></div>
                {{else}}
                <div class="dpR"><a href="">已归还</a></div>
                {{end}}
            </div>
            <div class="shopbox" onclick="window.open('../apps-invoice/{{$vluae.OId}}','_self')">
                <div class="shopboxL">
                    {{range $k,$v:=$vluae.GoodImg}}
                    <img src={{$v}} alt="">
                    {{end}}

                </div>
                <div class="shopboxR">
                    <div class="shopboxR_1">
                        <div class="sbr1_1">{{$vluae.Names}}</div>
                        <div class="sbr1_2">
                            <p class="p2">租金：ETH {{$vluae.Rent}}</p>
                        </div>
                    </div>
                    <div class="shopboxR_2">
                        <p class="p3">租用天数×1天</p>
                        <p class="p4">押金：ETH {{$vluae.EthPledge}}</p>
                    </div>
                </div>
            </div>
            <div class="dphjbox">
                <p class="p5">实付: <span>{{$vluae.AllPrice}}ETH </span></p>
            </div>
            <div class="dpbtn">
                <div class="dpbtn1">


                    <div class="data-box" class="cart-product__status">
                        {{if eq $vluae.IsBack false}}
                        <div class="badge badge-soft-warning px-2" id="dateShow1" data-date="{{$vluae.BackTime}}">
                            <i class="ti ti-alarm"></i>
                            <span class="date-tiem d">00</span>天
                            <span class="date-tiem h">00</span>时
                            <span class="date-tiem m">00</span>分
                            <span class="date-s s">00</span>秒
                        </div>
                        {{else}}
                        <div>归还日期:{{$vluae.EndTime}}</div>
                        {{end}}
                    </div>
                </div>
                {{if eq $vluae.IsBack false}}
                <div class="dpbtn2">
                    <a class="backSub1">立即归还</a>
                </div>
                {{else}}
                <div class="dpbtn2">
                    <a class="backSub">和物主协商？</a>
                </div>
                {{end}}
            </div>
        </div>

    </div>
    {{end}}


    <footer>

        <div class="sc-bottom-bar" style="height: 30px;">
            <a class="sc-menu-item " href="../index"><i class="fas fa-home"></i></a>
            <a class="sc-menu-item " href="../goods-category"><i class="fas  fa-list"></i></a>
            <a href="../chat" class="sc-menu-item "><i class="fas fa-plus"></i></a>
            <a class="sc-menu-item" href="../select_chat_list"><i class="fas fa-comments"></i></a>
            <a class="sc-menu-item" href="../ui-me"><i class="fas fa-user"></i></a>
        </div>

    </footer>
    <!--====================  End of footer area  ====================-->
    </div>

    <script src="share/static/js/app.js"></script>
    <script src="share/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="share/assets/js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="share/assets/js/main.js"></script>
    <script src="share/js/pop-message.js"></script>
    <script type="text/javascript" src="share/static/js/logout.js"></script>
    <script>
        $(".backSub1").click(function () {
            $.ajax({
                type: "POST",
                url: "/returnGoodsPost",
                data: {
                    "id": $(".myddcon").data("id"),
                },
                success: function () {
                    window.location = "/select_chat_list"
                }
            })
        })
    </script>
    <script src="share/js/leftTime.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //日期倒计时,现在距离下面的日期
            var data_show = $('.data-box');
            for (var i = 1; i <= data_show.length; i++) {
                function_name($("#dateShow" + i).data("date"), "#dateShow" + i);
            }
            function function_name(time, obj) {
                $.leftTime(time, function (d) {
                    if (d.status) {
                        var $dateShow1 = $(obj);
                        $dateShow1.find(".d").html(d.d);
                        $dateShow1.find(".h").html(d.h);
                        $dateShow1.find(".m").html(d.m);
                        $dateShow1.find(".s").html(d.s);
                    }
                });
            }
        });
    </script>

</body>
{{ end }}

</html>