{{ define "Static/tally-order.html" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>ShareFish-订单结算</title>
    <script src="../share/static/js/public.js"></script>
    <link rel="stylesheet" href="../share/css/tally-order-style.css" />
    <link rel="stylesheet" href="../share/themes/css/home.css">
    <link rel="stylesheet" type="text/css" href="../share/css/shoppingcart.css" />

    <link href="../share/static/css/icons.min.css" rel="stylesheet" type="text/css">


</head>

<body>


    <input type="hidden" id="borrowsId" value="{{.id}}">
    <div class="iphone">
        <a class="back-link" onClick="javascript :history.back(-1);"> <i class="fa fa-angle-left"></i>
            返回</a>
        <header class="header">
            <h1>订单结算</h1>
        </header>



            <fieldset>
                <legend>商品信息</legend>

                <div class="form__radios">
                    <div class="form__radio">
                        <div class="aui-list-product-float-item">
                            <a href="#" class="aui-list-product-fl-item">
                                {{range $k,$v:=.goodsImg}}
                                <div class="aui-list-product-fl-img">
                                    <img src="../{{$v}}" alt="">
                                </div>
                                {{end}}
                                <div class="aui-list-product-fl-text">
                                    <span class="aui-list-product-fl-title">
                                        {{.goodsName}}</span>
                                    <div class="aui-list-product-fl-mes">
                                        <p class="aui-list-product-item-price">
                                            <em>租金 {{.rent}}ETH /天</em>
                                        </p>
                                    </div>
                                    <div class="aui-btn-purchase">
                                        <h3>押金 {{.pledge}}ETH</h3>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div style="    padding-top: 20px;">
                <h2>购物清单</h2>

                <table>
                    <tbody>
                        <div class="product-ckb"><em class="product-em product-xz"></em></div>

                        <tr>
                            <td>租用天数</td>
                            <td align="right" >
                                <div class="product_gw">
                                   <em class="product-jian">-</em>
                                   <input type="text"  value="1"  id="borrowDay" class="product-num"/>
                                   <em class="product-add">+</em>
                                    <span id="span_data" style="display: none"></span>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>租金</td>
                            <td align="right"><span class="product-price">ETH&thinsp;<span
                                        class="price">{{.rent}}</span></span></td>

                        </tr>
                        <tr>
                            <td>押金</td>
                            <td align="right"><span class="product-price">ETH&thinsp;<span
                                        class="rent">{{.pledge}}</span></span></td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>总共</td>
                            <td align="right">
                                <div class="all-product"><span class="all-product-a">ETH&thinsp;<span
                                            class="all-price">0</span></span></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div>
                <a class="button button--full" type="submit" id="sendOrder">提交订单</a>
            </div>
    </div>


    <script src="../share/js/pop-message.js"></script>
    <script type="text/javascript" src="../share/static/js/logout.js"></script>
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

{{/*	<script src="../share/js/shoppingcart.js" type="text/javascript" charset="utf-8"></script>*/}}
<script>
    $(function(){
        //加的效果
        $(".product-add").click(function(){
            var n=$(this).prev().val();
            var num=parseInt(n)+1;
            if(num==99){ return;}
            $(this).prev().val(num);
            TotalPrice();
        });
        //减的效果
        $(".product-jian").click(function(){
            var n=$(this).next().val();
            var num=parseInt(n)-1;
            if(num==0){ return;}
            $(this).next().val(num);
            TotalPrice();
        });

        $(".product-ckb").click(function(){
            $(this).children("em").toggleClass("product-xz");
            TotalPrice();
            productxz();
        });

//计算产品价格
        function TotalPrice(){
            //总价
            var total = 0;
            $(".product-em").each(function(){

                if($(this).is(".product-xz")){
                    var price = parseInt($(this).parents(".product-ckb").siblings().find(".price").text());//得到产品单价
                    var slproice = parseInt($(this).parents(".product-ckb").siblings().find(".product-num").val());//得到产品数量
                    var rent = parseInt($(this).parents(".product-ckb").siblings().find(".rent").text());
                    var dgtotal = price * slproice + rent;
                    total+=dgtotal;
                    $("#span_data").html(slproice);
                }
                $(".all-price").text(total.toFixed(2)); //输出全部总价
            });

        }


        TotalPrice();
    });
</script>
<script>

    $("#sendOrder").click(function(){

        $.ajax({
            type: "POST",
            url: "/sendBorrowMsg",
            data: {"id": $("#borrowsId").val(), "borrowDays": $("#span_data").text()},
            success: function (data) {
                alert("已提交订单");
                window.location = "/select_chat_list";
            }
        })
        })
    </script>

</body>
{{ end }}

</html>