{{ define "Static/wechat.html" }}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Share Fish</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="share/static/js/public.js"></script>
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="share/assets/css/style.css">

    <!-- App css -->
    <link href="share/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="share/static/css/app.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="share/css/wechat.css">


</head>

<body>
<div class="header-area" id="headerArea">
    <div class="container">
        <!-- Header Content -->
        <div class="header-content position-relative d-flex align-items-center justify-content-between">
            <!-- Chat User Info -->
            <div class="chat-user--info d-flex align-items-center">
                <!-- Back Button -->
                <div class="back-button">
                    <a  class="back-link" onClick="javascript :history.back(-1);">
                        <svg class="bi bi-arrow-left-short" width="32" height="32" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="user-thumbnail-name">
                    <div class="info ms-1">
                        <p>{{ .names }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper py-3" id="chat-wrapper">
    <div class="container">
        <div class="chat-content-wrap" data-owner="{{ .owners }}" data-addr="{{ .addrs }}" data-img="{{ .imgs }}" data-img1="{{ .img }}">
            {{ $addr1 := .addrs }}
            {{ $owner1 := .owners }}
            {{ $img_owner := .img }}
            {{ $img_addr := .imgs }}
            {{ range $key,$value := .chat }}
            {{ if and (eq $value.Addr_from $addr1) (eq $value.Addr_to $owner1) }}
            <!-- Single Chat Item -->
            <div class="single-chat-item" data-id="{{ $value.Id }}">
                <!-- User Avatar -->
                <div class="user-avatar mt-1">
                    <img src="{{ $img_addr }}" alt="">
                </div>
                <!-- User Message -->
                <div class="user-message">
                    <div class="message-content">
                        <div class="single-message">
                            <p>{{ $value.Content }}</p>
                        </div>
                        <!-- Options -->
                        <div class="dropstart">
                            <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="ti ti-dots-vertical"></i></button>
                            <ul class="dropdown-menu">
                                <li><a><i class="ti ti-trash"></i>删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Time and Status -->
                    <div class="message-time-status">
                        <div class="sent-time">{{ $value.Time }}</div>
                    </div>
                </div>
            </div>
            {{ else if and (eq $value.Addr_from $owner1) (eq $value.Addr_to $addr1) }}
            <!-- Single Chat Item -->
            <div class="single-chat-item outgoing" data-id="{{ $value.Id }}">
                <!-- User Avatar -->
                <div class="user-avatar mt-1">
                    <img src="share/{{ $img_owner }}" alt="">
                </div>
                <!-- User Message -->
                <div class="user-message">
                    <div class="message-content">
                        <div class="single-message">
                            <p>{{ $value.Content }}</p>
                        </div>
                        <!-- Options -->
                        <div class="dropstart">
                            <button class="btn btn-options dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="ti ti-dots-vertical"></i></button>
                            <ul class="dropdown-menu">
                                <li><a><i class="ti ti-trash"></i>删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Time and Status -->
                    <div class="message-time-status">
                        <div class="sent-time">{{ $value.Time }}</div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>


<div class="chat-footer">
    <div class="container h-100">
        <div class="chat-footer-content h-100 d-flex align-items-center">

            <!-- Message -->
            <input class="form-control" type="text" placeholder="Type here...">

            <!-- Send -->
            <button class="btn btn-submit btn_send" type="button">
                <svg class="bi bi-cursor" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                     fill="currentColor" viewBox="0 0 16 16">
                    <path
                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z">
                    </path>
                </svg>
            </button>

        </div>
    </div>
</div>
<script src="share/assets/js/jquery-3.4.1.min.js"></script>
<script src="share/static/js/app.js"></script>
<script>
    $(".dropdown-menu").delegate(".del", "click", function () {
        $.ajax({
            type: "POST",
            url: "/delete_chat_content",
            data: {"id": $(".single-chat-item").data("id")},
            success: function () {
                location.reload();
            }
        })
    })
    $(".btn_send").click(function () {
        $.ajax({
            type: "POST",
            url: "/insert_chat_content",
            data: {
                "addr_from": $(".chat-content-wrap").data("owner"),
                "addr_to": $(".chat-content-wrap").data("addr"),
                "content": $(".form-control").val(),
                "img_from":$(".chat-content-wrap").data("img"),
                "img_to":$(".chat-content-wrap").data("img1"),
            },
            success: function () {
                location.reload();
            }
        })
    })

</script>
<!-- All JavaScript Files -->
<script src="share/js/bootstrap.bundle.min.js"></script>
<script src="share/assets/js/main.js"></script>
</body>
{{ end }}
</html>